[Desktop Entry]
Version=1.0
Type=Link
Name=\s\s\s\sNext Lesson
Comment=
Icon=user-bookmarks
URL=https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/css-foundations
